@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothicFont';
  src: url('./assets/fonts/Gothic2Font.ttf') format('truetype');
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #bbb5ac;
  font-family: Rajdhani, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  user-select: none !important;
}

#root {
  height: 100%;
}
